<html
<body>
  <script>
  var title = "Text Adventure!";
  var welcome = "Welcome to Text Adventure! You are trapped in a room with only"
                  + "  two doors. Hit the next button and begin your adventure!";

  document.write('<h1>' + title + '</h1>' + '<br>' + '<p>' + welcome + '</p>');
  </script>

  <form name = "next" action="game/play" method="get">
    <input type="submit" value="Next">
  </form>
  </body>
  </html>
