<% @counter = 0 %>

<h1> <%= render :text =>  "Text Adventure!" %> </h1>
<p> <%= render :text => "Welcome to Text Adventure! Click next to play" %> </p>



<form name = "next" action="/game/play" method="get">
  <input type="submit" value="Next">
</form>

